body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.playerImg,
.computerImg {
  display: flex;
  width: auto;
  justify-content: space-between;
  background: orange;
  padding: 20px;
  border: solid black 5px;
  border-radius: 5px;
  max-height: 90px;
}

img {
  width: 90px;
  height: 90px;
}

.pImg:hover {
  cursor: pointer;
  width: 110px;
  height: 110px;
  background-color: yellow;
}

.active {
  width: 110px;
  height: 110px;
}

.winner {
  width: 100%;
}

.reset {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
}

.reset:hover {
  cursor: pointer;
}

.winnerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}